@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAuto.Shared.Services

@inject IJobListingsService jobService

<div class="my-component">
    <QuickGrid Items="_jobs">
        <PropertyColumn Property="@(j=>j.Id)" />
        <PropertyColumn Property="@(j=>j.DatePosted)" />
        <PropertyColumn Property="@(j=>j.Category)" />
        <PropertyColumn Property="@(j=>j.Title)" />
    </QuickGrid>
    <div class="filter">
        <input type="text" @bind="_filter" @bind:event="oninput" @bind:after="UpdateFilter" />
    </div>
</div>

@code {
    private IQueryable<JobListing> _jobs;
    private string? _filter;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await UpdateFilter();
    }

    private async Task UpdateFilter()
    {
        var jobs = string.IsNullOrEmpty(_filter) ? await jobService.GetActiveJobListingsAsync() : await jobService.SearchJobListingsAsync(_filter);
        _jobs = jobs.AsQueryable();
    }
}
